<footer class="main-footer py-4 mt-4">
    <div class="container d-flex flex-column align-items-center gap-3">
        <div class="f-info-socials d-flex gap-3 fs-4">
            <a href="#" class="text-secondary-hover"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#" class="text-secondary-hover"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#" class="text-secondary-hover"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" class="text-secondary-hover"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
        <div class="f-info-links d-flex gap-3 justify-content-center">
            <a href="/" class="footer-link">Privacy Policy</a>
            <a href="/" class="footer-link">Terms & Conditions</a>
            <a href="/" class="footer-link">About Us</a>
        </div>
        <div class="f-info-brand text-muted fs-7">&copy; <%= new Date().getFullYear() %> StayEasy Private Limited. All rights reserved.</div>
    </div>
</footer>